<ion-content class="home">
  <section class="todoapp">
    <header>

    </header>
  </section>
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <input class="new-todo" placeholder="What needs to be done?" autofocus
             [(ngModel)]="newTodo" (keyup.enter)="addTodo()">
      <button class="add" (click)="addTodo()">Add</button>
    </header>

    <section class="main">
      <div class="loading" *ngIf="loading">Hang on...</div>
      <ul class="todo-list">
        <li *ngFor="#todo of todos" [class.editing]="todo.editMode" [class.completed]="todo.completed">
          <div class="view">
            <ion-checkbox class="toggle" type="checkbox" (click)="toggle(todo)" [checked]="todo.completed"></ion-checkbox>
            <label (click)="enterEditMode(todoInput, todo)">{{todo.text}}</label>
            <button (click)="removeTodo(todo)" class="destroy"></button>
          </div>
          <input class="edit" [value]="todo.text"
                 #todoInput
                 (keyup.enter)="commitEdit(todoInput.value, todo)"
                 (keyup.escape)="cancelEdit(todoInput, todo)"
                 (blur)="commitEdit(todoInput.value, todo)">
        </li>
      </ul>
    </section>
  </section>
</ion-content>
